.clasepdeinasidnao
{
	min-height: 450px;
}

.error
{
	max-width: 100%;
	padding: .5rem;
	margin-top: .1rem;
	font-size: .875rem;
	line-height: 1;
	color: #fff;
	background-color: rgba(220, 53, 69, 0.8);
	border-radius: .2rem;
	margin: 10px 0;
	text-align: center;
}
.link_activo
{
	
	color: darkgreen !important;
	font-weight:bold;
	/*background-color: #138d75;
	/*modificar*/
}

.exito
{
	max-width: 100%;
	padding: .5rem;
	margin-top: .1rem;
	font-size: .875rem;
	line-height: 1;
	color: #fff;
	background-color: rgba(40, 167, 69, 0.8);
	border-radius: .2rem;
	margin: 10px 0;
	text-align: center;
}

.modal-pie
{
	/*
		display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    */
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}


.container
{
	min-height: 550px;
}

.nav-item
{
	color: white;
}

.nav-user {
  display: block;
  padding: 0.5rem 1rem;
}